.involve-cont {
    font-size: 18px;
    font: bolder;
    font-weight: bolder;
    text-align: center;
    padding-top: 7rem;
    background-color: #E5E5E5;
    margin-bottom: 7rem;
  }
  .see-less-btn{
      width: 10rem;
      border: solid #7C20BE;
      color: #7C20BE;
  border-radius: 5px;
  margin: 6rem 0px;
  }
  .btnseeless{
  text-align: center;
  
      
  }
  .see-less {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5rem;
    background-color: #E5E5E5;
  }
  .text-cont {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
   
  }
 
  .payment-cont {
    text-align: center;
    width: 28%;
    background-color: #FFFFFF;
    padding: 15px;
    height: 20rem;
  }


  /* ///////??//////Media Query///////////////? */
  @media only screen and (max-width : 320px) {
    .involve-cont {
        font-size: 18px;
        font: bolder;
        font-weight: bolder;
        text-align: center;
        padding-top: none;
        background-color: #E5E5E5;
        margin-bottom: 7rem;
      }
    
    
    .see-less {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 5rem;
        background-color: #E5E5E5;
      }
      .payment-cont {
        text-align: center;
        width: 100%;
        background-color: #FFFFFF;
        padding: 15px;
        height: 20rem;
      }
    
}
  @media only screen and (max-width : 768px) {
    .involve-cont {
        font-size: 18px;
        font: bolder;
        font-weight: bolder;
        text-align: center;
        padding-top: none;
        background-color: #E5E5E5;
        margin-bottom: 7rem;
      }
    
    
    .see-less {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 5rem;
        background-color: #E5E5E5;
      }
      .payment-cont {
        text-align: center;
        width: 100%;
        background-color: #FFFFFF;
        padding: 15px;
        height: 20rem;
      }
    
}
  @media only screen and (max-width : 820PX) {
    .involve-cont {
        font-size: 18px;
        font: bolder;
        font-weight: bolder;
        text-align: center;
        padding-top: none;
        background-color: #E5E5E5;
        margin-bottom: 7rem;
      }
    
    
    .see-less {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 5rem;
        background-color: #E5E5E5;
      }
      .payment-cont {
        text-align: center;
        width: 100%;
        background-color: #FFFFFF;
        padding: 15px;
        height: 20rem;
      }
    
}
