* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.App{
  background-color: #E5E5E5;
}
.Header-section{
  
  background-image: url(./Asset/Group\ 127.png);
  background-repeat: no-repeat;
  background-size: 30rem;
  background-position:  35rem ;
  width:100% ;
}
.Header-section1{
background-color: #7c1fbf;
}
.bgrc-sec{
  background: linear-gradient(#7c1fbf, #470a73);
}
button:hover{
  background-color: #ffffff;
  color: blueviolet;
}
